body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    display:inline;
    float: right;
    padding: 8px;
}

#nav-bar li:hover {
    text-shadow: 0 0 1px  #696969;
}

#logo {
    padding-top: 14.4%;    
}