body {
    text-align: center;
    font-family:  Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    display:inline;
    float: right;
    padding: 8px;
}

#nav-bar li:hover {
    text-shadow: 0 0 1px  #696969;
}

#logo {
    padding-top: 14.4%;    
}

input[type=text] {
    height: 35px;
    width: 40%;
    border: 0.5px solid #696969;
    border-radius: 21px;
}

/* input[type=text]:hover {
 box-shadow: 2px #696969;
} */

#search-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#search-box:hover {
    box-shadow: 2px #696969;
}_

#search-buttons {
    
}