body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    display: inline;
    float: right;
    padding: 8px;
}

li:hover {
    text-shadow: 0 0 0.5px #696969;
}

#logo {
    padding-top: 14.4%;
}

#search-box {
    border-radius: 21px;
}

input[type=text] {
    height: 35px;
    width: 40%;
    border-color: #dfe1e5;
    border-radius: 21px;
}

#search-box {
    padding-top: 2rem;
}

#search-box:hover {
    box-shadow: 2px #696969;
}

.search-buttons button {
    display: inline-block;
    margin: 20px 30px;
    background-color: aqua;
    margin-bottom: 100px;
}


footer {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px #e4e4e4;
    background-color: #f2f2f2;
    padding: 0.5rem;
}

footer li {
    display: inline;
    float: none;
    padding: 10px;

}

.footer-left li {
    float: left;
}

.footer-right li {
    float: right;
    margin-right: 20px;
}



/* mobile responsive */

@media all and (max-width: 823px) {
    input[type=text] {
        height: 35px;
        width: 90%;
        border: 0.5px solid #696969;
        border-radius: 21px;
    }

    #logo {
        padding-top: 50%;
    }

    img {
        width: 55%;
    }

    .buttons {
        padding: 0 12px;
        margin: 8 0;
    }

    .footer-right li {
        float: none;
    }

}